<h2 class="content-subhead">Search</h2>

<form action="/search" method="get">
  <input name="query" type="text" value="<%= params[:query] %>" <%= "autofocus" unless params[:query] %> />
  <input type="submit" value="Search" />
</form>


<% if @results %>
  <% if @results.any? %>
    <h2 class="content-subhead">Results for '<%= params[:query]%>'</h2>
    <ul>
      <% @results.each do |chapter, idx, paragraph, paragraph_index| %>
        <li>
          <h4>
            <a href="/chapters/<%= idx + 1 %>#paragraph<%= paragraph_index %>">
              <%= chapter %>
            </a>
          </h4>
          <p><%= highlight(paragraph, params[:query]) %></p>
        </li>
      <% end %>
    </ul>
  <% else %>
    <h2 class="content-subhead">No matches found for '<%= params[:query]%>'</h2>
  <% end %>
<% end %>